// Styling for the footer
.footer {
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
}